*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameArea{
  width: min(80vh, 80vw);
  display: grid;
  >div{
    aspect-ratio: 1 / 1;
    border: 1px solid black;
  }
}

.water{
  background: rgb(0, 115, 255);
}

.grass{
  background: rgb(5, 180, 26);
}